.container {
    background-color: #fff;
    width: 85%;
    border: 1px solid #e3e3e3;
    box-shadow: -20px 20px rgba(109, 109, 109, 0.65);
    margin: -80px auto 0;
    transform: translate(0px, -80px);
    border-radius: 5px;
}

.button {
    padding: 50px;
    display: block;
    text-decoration: none;
    color: #222;
    /*border-bottom: 1px solid #efefef;*/
    transition: 100ms;
}
.button:hover {
    background-color: #e4e4e4;

}
.textContainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.textContainer h5 {
    width: 35%;
}
/* these are items in button*/
.textButton {
    font-size: 35px;
}
.learnMore {
    color: blue;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}
.learnMoreText {
    font-weight: bold;
    font-size: 20px;
}
.learnMoreIcon {
    padding: 0 10px;
}
.description{
    width:40%;
}


@media only screen and (max-width: 870px) {
    .description {
        display: none
    }
    .container {
        margin: -40px auto 0;
    }
    .textContainer h5 {
        width: 65%
    }
}

@media only screen and (max-width: 710px) {
    .learnMore {
        font-size: 13px;

    }
    .learnMoreText {
        font-size: 13px;
        display: none;
    }
    .textContainer h5 {
        width: auto;
        
        font-size: 25px
    }
    .button {
        padding: 20px;
    }
}

