.container {
    border-bottom: 0.8px solid #ddd;
    align-items: center;
    padding: 20px 5px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 20000;
}
.logoContainer {
    height: 35px;
}
.logo {
    height: 100%;
}
.main {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.rightContainer {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    margin: 0 10px;
}
.menu a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 17px;
    color: #484848;
}
.searchBox {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 2px;
}
.searchBox img {
    padding: 8px 10px;
}
.searchBox input, .searchBox input:hover, .searchBox input:active, .searchBox input:focus{
    border: none !important;
    outline: none;
    background-color: inherit;
    font-size: 15px;
    width: 200px;
    transition: 340ms;
}
.searchBox input:focus {
    width: 340px;
}