.container {
    border-bottom: 0.8px solid #ddd;
    align-items: center;
    padding: 15px 5px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 20000;
}
.logoContainer {
    height: 35px;
}
.logo {
    height: 100%;
}
.main {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.rightContainer {
    display: flex;
    align-items: center;
}
.rowMenu {
    display: block;
}
.responsiveMenu {
    display: none
}
.menu {
    display: flex;
    margin: 0 20px 0 10px;
    padding: 5px 10px;
    background: #f7f7f7;
    border-radius: 4px;
}

.menu a, .menu span {
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #484848;
}
.menu a {
    padding-left: 20px;
}
.responsiveDrawer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.drawerSheet {
    background: #00000022;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}
.drawerContainer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    padding: 20px;
}
.drawerContainer a, .drawerContainer span{
    background-color: #f9f5f5;
    margin-bottom: 10px;
    padding: 10px;
    color: #555;
    text-decoration: none;
    border-radius: 5px
}


.resultMenu {
    position: absolute;
    top: 40px;
    width: 100%;
    margin: 0 !important;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #00000021;
    box-shadow: -5px 5px 0 #ececec;
    animation: showResultMenu 200ms ease-in forwards;
    display: none;
    transform: translateX(35%);
}
@keyframes showResultMenu {
    0% {
        opacity: 0;
        top: 40px;
    }
    100% {
        opacity: 1;
        top: 45px;
    }
}
.menu a:hover div, .menu span:hover div {
    display: block;
}
.searchBox {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 2px;
}
.rightPart {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    width: 30%;
    height: 30%;
    border-left: rgb(10 14 255);
    border-radius: 50%;
    border-bottom: rgb(10 14 255);
    border-right: 2px solid #ffffff00;
    border-top: 2px solid #ffffff00;

    animation: spinner 300ms linear infinite;
}
@keyframes spinner {
    0% {
       transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*.searchBox img{
/*    padding: 8px 10px;*/
/*}*/
.searchBox input, .searchBox input:hover, .searchBox input:active, .searchBox input:focus{
    border: none !important;
    outline: none;
    background-color: inherit;
    font-size: 14px;
    width: 200px;
    transition: 340ms;
}
.normalBox {
    display: flex;
}
.searchBox input:focus {
    width: 250px;
}

/**/
.result {
    position: absolute;
    top: 40px;
    width: 100%;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #00000021;
    box-shadow: -5px 5px 0 #ececec;
    animation: showResult 500ms ease-in;
    display: block;
}
.resultItem:nth-child(even){
    background-color: #f3f3f3;
}
.resultItem {
    animation: showResult 500ms ease-in;
    padding: 10px 20px;
    margin: 0;
    display: block;
    color: #333;
    text-decoration: none;
    transition: 300ms;
    opacity: 1;
}
.resultItem:hover {
    background-color: rgb(10 14 255);
    color: #fff;
}

.searchIconButton {
    line-height: 0;
    padding: 5px;
    margin: 0;
    border-radius: 2px;
    background-color: #f1f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    display: none

}
.iconButton {
    line-height: 0;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    background: none;
    font-size: 25px;
    display: flex;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    display: none;
}

.responsiveSearchBox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 250, 250, 0.08);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



@keyframes showResult {
    0% {
        opacity: 0;
        top: 32px;
    }
    100% {
        opacity: 1;
        top: 40px;
    }
}




@media only screen and (max-width: 924px) {
    .normalBox{
        display: none
    }
    .searchIconButton {
        display: block;
    }
}


@media only screen and (max-width: 695px) {
    .rowMenu{
        display: none
    }
    .iconButton {
        display: block;
    }
    .searchIconButton {
        display: block;
    }
    .logoContainer {
        height: 30px
    }
    .container {
        padding: 17px 0;
    }
    .main {
        width: 90%;
    }
    .resultMenu{
        position: static;

    }
}