.container {
    background-image: linear-gradient(to left,rgb(51, 136, 248),rgb(51, 248, 189));
    background-position-x: 40vw;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}

.row {
    margin-top: 100px;
    display: flex;
    width: 90%;
}
.image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.imageContainer {
    width: 60%;
    height: 100%;
}

.text {
    height: 200px;
    width: 40%;
    padding-left: 20px;
    color: #fff;
}
.title {
    font-weight: bold;
    font-size: 55px;
    line-height: 77px;

}
.description {
    font-weight: 200;
    font-size: 20px;
}



/*responsive actions*/
@media only screen and (max-width: 1380px) {
    .description {
        font-weight: 200;
        font-size: 17px;
    }
    .title {
        font-weight: bold;
        font-size: 45px;
        line-height: 62px;
    }
}
@media only screen and (max-width: 1000px) {
    .container {
        background-position-x: 0;
        background-image: linear-gradient(to right,#33F7BE,#33B6E0);
    }
    .description {
        font-weight: 200;
        font-size: 15px;
    }
    .title {
        font-weight: bold;
        font-size: 45px;
        line-height: 62px;
    }
}

@media only screen and (max-width: 785px) {
    .row {
        margin-top: 30px;
        flex-direction: column;
        width: 100%
    }
    .imageContainer {
        width: 100%
    }
    .text {
        height: auto;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    .description {
        font-weight: 200;
        font-size: 15px;
    }
    .title {
        font-weight: bold;
        font-size: 30px;
        line-height: 50px;
    }
}