.container {
    /*background-color: rgb(10 14 255);*/
    background-image: linear-gradient(rgb(10 14 255), rgb(10 14 255));
    background-position-x: 40vw;
    width: 100%;
    height: calc(100vh - 55px);
    background-repeat: no-repeat;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}



.row {
    margin-top: 100px;
    display: flex;
    width: 90%;
}


.image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.imageContainer {
    width: 60%;
    height: 100%;
}


.text {
    height: 200px;
    width: 40%;
    padding-left: 20px;
    color: #fff;
}
.title {
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;
    margin-top: 1em;
    text-shadow: -5px 5px #1a1dc2;

}
.description {
    padding-top: 30px;
    font-weight: 200;
    line-height: 30px;
    font-size: 17px;
    width: 84%;
}

@media only screen and (max-width: 1000px) {
    .container {
        background-position-x: 0;
        background-color: rgb(10 14 255);
    }
    .description {
        font-weight: 200;
        font-size: 15px;
    }
    .title {
        font-weight: bold;
        font-size: 45px;
        line-height: 62px;
    }
}

@media only screen and (max-width: 785px) {
    .row {
        margin-top: 30px;
        flex-direction: column;
        width: 100%
    }
    .imageContainer {
        width: 100%
    }
    .text {
        height: auto;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    .description {
        font-weight: 200;
        font-size: 15px;
    }
    .title {
        font-weight: bold;
        font-size: 30px;
        line-height: 50px;
    }
}